.cabecalho {
    background-color: var(--branco);
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container_imagem {
    padding: 1em;
    }
.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("./img/MenuAberto.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}
.container_botao:checked ~ .lista-menu {
    display: block;
}
.lista-menu__titulo,
.lista-menu__item {
padding: 1em;
background-color: var(--branco);
}
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    }
    .lista-menu__titulo {
        color: var(--laranja);
        font-weight: 700;
        }
        .lista-menu {
            display: none;
            position: absolute;
            top: 100%;
            width: 60vw;
            }
            .container__botao {
                display: none;
                }
                @import url(“styles/header.css”);
                @import url(“styles/banner.css”);