@import url(“styles/header.css”);
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF
}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    body {
        background-color: var(--cor-de-fundo)
           }
           .container {
            display: flex;
            align-items: center;
            }   
            