* {
 margin: 0;
 padding: 0;
}
    .cabecalho {
    background-color:#CEC1FF; 
    color: #2E2344;
    display: flex; 
    justify-content: space-around;  
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho-lista-item{
  display: inline-block;  
  margin: 0 16px;
  justify-content: space-around;
  padding: 24px 0;
  font-size: 30px;
}